head{
  margin: 40px;
  background: ##f5d5d3;
}

body{

}

.nav{
  margin: 10px;
  text-align: center;
}

.object{
  margin-right: 10px;
  margin-left: 10px;
}

.intro{
  font: times;
  font-size: 32px;
}

h1{
  font: times;
  font-size: 16px;
}

.heading{
  font: times;
  font-size: 22px;
}

.references{

}

.widget {
    margin-bottom: .75em;
    margin: 0 0 2.5em;
    background: #fff;
    font-size: 0.98em;
}

.custom-html-widget{
  padding: 0;
}

.widget-menu__title {
    padding: 10px;
    font-size: 1.1em;
    color: #fff;
}

.strong {
    font-weight: bold;
}

.ct {
    text-align: center;
}

.main-color {
    background-color: #f89174;
}

.widget-menu {
    text-align: center;
}

.dfont {
    font-family: "Quicksand","Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}

.cf {
    zoom: 1;
}

.cf:before, .cf:after {
    display: table;
    content: "";
}
