head{
  margin: 40px;
  background: ##f5d5d3;
}

body{

}

.nav{
  margin: 10px;
  text-align: center;
}

.object{
  margin-right: 10px;
  margin-left: 10px;
}

.intro{
  font: times;
  font-size: 32px;
}

h1{
  font: times;
  font-size: 16px;
}

.heading{
  font: times;
  font-size: 22px;
}

.references{

}
